.team {
  background-color: #F4F5F6;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .team__title {
    padding-left: 2rem; }
    .team__title h1 {
      font-size: 2.2rem;
      font-weight: bolder; }
    .team__title h2 {
      font-size: 0.6rem;
      font-weight: bold; }
  .team__carousel {
    margin-left: 1rem;
    display: grid;
    grid-template-areas: ". . buttons" "card card card" "dots dots dots";
    grid-template-columns: 1fr 1fr 0.3fr; }
    .team__carousel-item {
      margin-bottom: 0.6rem; }
    .team__carousel-item--name {
      display: inline-block;
      width: 100%;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center; }
    .team__carousel-item--job {
      display: inline-block;
      width: 100%;
      color: #787A80;
      text-align: center; }
    .team__carousel > div {
      grid-area: card; }
    .team__carousel > ul {
      grid-area: dots; }
    .team__carousel-arrows {
      height: 2rem;
      width: 2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      .team__carousel-arrows-area {
        margin-top: 4rem;
        margin-bottom: 0.8rem;
        text-align: right;
        padding-right: 1rem; }
      .team__carousel-arrows:hover, .team__carousel-arrows:active {
        background-repeat: no-repeat;
        background-image: url("../assets/Ellipse.svg");
        background-size: contain; }
      .team__carousel-arrows img:hover, .team__carousel-arrows img:active {
        filter: invert(100%) contrast(100); }
      .team__carousel-arrows-next {
        transform: rotate(180deg); }
  .team__half-moon-vector {
    position: absolute;
    transform: translateY(-1.6rem) translateX(-0.4rem);
    opacity: 0.6; }
    .team__half-moon-vector img {
      transform: rotate(135deg);
      width: 2rem;
      height: 2rem; }
  .team__dots-vector {
    position: absolute;
    transform: translateX(13rem) translateY(-2rem); }
    .team__dots-vector img {
      width: 50%;
      height: 50%; }
  .team__L-shapes-vector {
    position: absolute;
    top: 431rem;
    left: 16rem; }
    .team__L-shapes-vector img {
      width: 50%;
      height: 50%; }

@media (min-width: 360px) {
  .team__title h1 {
    font-size: calc(1.2*2.2rem); }
  .team__title h2 {
    font-size: calc(1.5*0.6rem);
    padding-bottom: 0.4rem; }

  .team__carousel-item--name {
    padding-top: 1rem;
    padding-bottom: 0.4rem; } }
@media (min-width: 601px) {
  .team__dots-vector {
    transform: translateX(24rem); }
    .team__dots-vector img {
      width: auto;
      height: auto; }

  .team__L-shapes-vector {
    left: auto;
    top: auto;
    right: 1rem;
    transform: translateY(35rem); } }
@media (min-width: 768px) {
  .team__carousel-item {
    display: flex;
    flex-direction: column; }

  .team__dots-vector {
    transform: translateX(32rem); }

  .team__L-shapes-vector {
    transform: translateY(40rem); } }
@media (min-width: 962px) {
  .team {
    padding-top: 4rem; }
    .team__carousel-item {
      display: flex;
      flex-direction: column;
      padding-left: 2rem;
      padding-right: 2rem; }
    .team__carousel-arrows-area {
      padding-right: 2rem; } }
@media (min-width: 1240px) {
  .team {
    padding-top: 8rem; }
    .team__carousel-item {
      display: flex; }
      .team__carousel-item img {
        max-height: 231.8px;
        width: 347.967px; } 
    .team__title{
      padding-left: 12rem;
    }
}
@media (min-width: 1440px) {
  .team__half-moon-vector {
    transform: translateY(-3.6rem) translateX(6rem); }

  .team__dots-vector {
    transform: translateX(62rem) translateY(-6rem); } }
@media (min-width: 1536px) {
  .team__carousel-item {
    display: flex;
    align-items: center; } }
@media (min-width: 1920px) {
  .team__dots-vector {
    transform: translateX(56rem) translateY(-6rem); } }

/*# sourceMappingURL=styles.css.map */