.statistic {
  background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18rem; }
  .statistic__text {
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 1.4rem;
    margin-bottom: 0;
    background-image: url(../assets/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: center bottom; }
    .statistic__text strong {
      font-weight: bolder;
      font-size: 1.6rem; }
    .statistic__text span {
      display: inline-block;
      transform: translateY(-0.1rem);
      margin-left: 0.4rem; }
    .statistic__text-dot img {
      display: none; }
  .statistic__text--last {
    background-image: none; }
  .statistic__vector--dots {
    position: absolute;
    height: 20%;
    width: 20%;
    top: 48rem;
    left: 11rem; }
    .statistic__vector--dots img {
      opacity: 0.3;
      height: 100%; }
  .statistic__vector--half-moon {
    position: absolute;
    height: 5%;
    width: 5%;
    top: 53rem;
    left: 3rem; }
    .statistic__vector--half-moon img {
      opacity: 0.3;
      height: 100%;
      width: 100%;
      transform: rotate(135deg); }
  .statistic__vector--circles {
    position: absolute;
    height: 20%;
    width: 20%;
    transform: translateY(14rem);
    left: 0%; }
    .statistic__vector--circles img {
      opacity: 0.8;
      height: 100%;
      width: 100%; }

@media (min-width: 375px) {
  .statistic__vector--dots {
    top: 53rem; }

  .statistic__vector--half-moon {
    top: 55rem; } }
@media (min-width: 601px) {
  .statistic {
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem; }

  .statistic__vector--dots {
    left: auto;
    top: 66rem;
    right: 8rem; }

  .statistic__vector--half-moon {
    top: 66rem; }

  .statistic__vector--circles {
    top: 81rem; }

  .statistic__text {
    font-size: 1.6rem;
    padding-bottom: 1.6rem;
    padding-top: 1rem; }
    .statistic__text strong {
      font-weight: bolder;
      font-size: 2rem; }
    .statistic__text span {
      transform: translateY(-0.2rem); } }
@media (min-width: 768px) {
  .statistic__vector--circles {
    top: auto;
    transform: translateY(11rem); } }
@media (min-width: 800px) {
  .statistic__vector--circles {
    top: auto;
    transform: translateY(9rem); } }
@media (min-width: 962px) {
  .statistic__text {
    padding-bottom: 2rem; } }
@media (min-width: 1280px) {
  .statistic {
    flex-direction: row;
    justify-content: space-between; }
    .statistic__text {
      padding-bottom: 0;
      background-image: none;
      text-align: left;
      font-size: 1.2rem; }
      .statistic__text strong {
        font-size: 1.4rem; }
      .statistic__text span{
          margin-left: 0;
      }
      span .statistic__text-dot {
        display: inline-block;
        height: 3%;
        width: 3%;
        margin-left: 9rem; }
        span .statistic__text-dot img {
          display: block;
          width: 100%;
          height: 100%; } }
@media (min-height: 601px) {
  .statistic {
    padding-top: 0; }

  .statistic__vector--circles {
    top: auto;
    transform: translateY(18rem); }

  .statistic__vector--half-moon {
    top: auto;
    transform: translateY(-3rem) translateX(20rem); }

  .statistic__vector--dots {
    top: auto;
    transform: translateY(15rem);
    right: 3rem; } }
@media (min-height: 667px) {
  .statistic__vector--circles {
    transform: translateY(18.6rem); } }
@media (min-height: 768px) {
  .statistic__vector--dots {
    top: 38rem;
    right: 0; }

  .statistic__vector--half-moon {
    top: 40rem;
    left: 25rem; } }
@media (min-height: 900px) {
  .statistic {
    padding-top: 8rem;
    padding-left: 4rem;
    padding-right: 4rem; }

  .statistic__vector--dots {
    height: 15%;
    width: 15%;
    top: 38rem;
    right: 0; } }

/*# sourceMappingURL=styles.css.map */